body {
    background-image: url("../img/fondos/wave2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.ocultar {
    visibility: hidden;
    display: none;
}

li > a, .sidebar-footer > a {
    cursor: pointer;
}

.pages {
    overflow-x: auto;
}

td.width {
    width: 110px !important;
    display: inline-block !important;
}

.eliminar {
    border: none;
    background-color:transparent;
    padding: 0;
}

.eliminar:focus {
    outline: 0;
}